Aashma Dangol

Series - Code Example

In [ ]:
import pandas as pd
# Creating a simple Series
data = [10 , 20 , 30 , 40]
series = pd . Series ( data )
print ( series )

0    10
1    20
2    30
3    40
dtype: int64

Types of Index:
1 Default Index: A numeric range starting from 0:

In [ ]:
import pandas as pd
series = pd . Series ([10 , 20 , 30])
print ( series . index )
# Output : RangeIndex ( start =0 , stop =3 , step =1)

RangeIndex(start=0, stop=3, step=1)

Custom Index: User defined labels.

In [ ]:
import pandas as pd

series = pd . Series ([10 , 20 , 30] , index =[ 'a','b','c']) #shouldnt use curly quote
print ( series )

a    10
b    20
c    30
dtype: int64

Data Structure - Index.

Datetime Index: Special index for time-series data.

In [ ]:
import pandas as pd

# Create a date range
dates = pd.date_range('2023-01-01', periods=3)

# Create a series with the specified dates as index
series = pd.Series([10, 20, 30], index=dates)

# Print the series
print(series)

2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

2.3.3 Data Structure - Index.

In [ ]:
import pandas as pd

# Accessing the index of the Series
print(series.index)

# Set or Reset Index for Series
series.index = ['x', 'y', 'z']  # Set a new index for the Series

# Creating a DataFrame with custom index
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])

# Resetting the index of the DataFrame
df.reset_index(inplace=True)

# Printing the DataFrame after resetting index
print(df)

Index(['x', 'y', 'z'], dtype='object')
  index  A
0  row1  1
1  row2  2

3.Building and Modifying DataFrames.
Creating DataFrames.

In [ ]:
import pandas as pd

# Style 1: Creating DataFrame without specifying index
df1 = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful'],
    'Sue': ['Pretty good.', 'Bland.']
})
print("Style 1 DataFrame:\n", df1)

# Style 2: Creating DataFrame with a custom index
df2 = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful.'],
    'Sue': ['Pretty good.', 'Bland.']
}, index=['Product A', 'Product B'])
print("\nStyle 2 DataFrame with custom index:\n", df2)

Style 1 DataFrame:
             Bob           Sue
0   I liked it.  Pretty good.
1  It was awful        Bland.

Style 2 DataFrame with custom index:
                      Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Loading Data to DataFrames.

In [ ]:
# Mount Google Drive to access the file
from google.colab import drive
drive.mount('/content/drive')

# Import pandas and read the CSV file from the root of Google Drive
import pandas as pd
dataset = pd.read_csv('/content/drive/MyDrive/Bank.csv')  # Directly in MyDrive (no folder path)

# Display the first few rows, last few rows, and information about the dataset
print("First 5 rows of the dataset:")
print(dataset.head())

print("\nLast 5 rows of the dataset:")
print(dataset.tail())

print("\nDataset Info:")
print(dataset.info())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
First 5 rows of the dataset:
     name  address      class
0  aashma  kalanki  bachelors
1  aashma  kalanki  bachelors
2  aashma  kalanki  bachelors
3  aashma  kalanki  bachelors

Last 5 rows of the dataset:
     name  address      class
0  aashma  kalanki  bachelors
1  aashma  kalanki  bachelors
2  aashma  kalanki  bachelors
3  aashma  kalanki  bachelors

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   address  4 non-null      object
 2   class    4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

3.3 Writing DataFrames to CSV.

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Write DataFrame to CSV
df.to_csv('output.csv', index=False)

# Download the file
from google.colab import files
files.download('output.csv')

4.1.1 First Data Inspection and Exploration - Sample Code.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# View the first two rows
print(df.head(2))

# View the last row
print(df.tail(1))

# DataFrame information
print(df.info())

# Summary statistics
print(df.describe())

# Check dimensions of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
      Name  Age  Salary
2  Charlie   35   70000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0
The DataFrame has 3 rows and 3 columns.

4.1.2 First Data Inspection and Exploration - Sample Code.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# Access the 'Age' column
print(df['Age'])

# Select rows by numerical index
print(df.iloc[0])  # First row

# Select rows by condition
print(df.loc[df['Age'] > 30])  # Rows where Age > 30

0    25
1    30
2    35
Name: Age, dtype: int64
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object
      Name  Age  Salary
2  Charlie   35   70000

4.2 Filtering and Modifying DataFrame.

In [ ]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print("Filtered Rows:\n", filtered_rows)

# Select specific columns
selected_columns = df[['Name', 'Salary']]
print("\nSelected Columns:\n", selected_columns)

# Drop a column
df_without_salary = df.drop(columns=['Salary'])
print("\nDataFrame without 'Salary' Column:\n", df_without_salary)

# Drop a row by index
df_without_row = df.drop(index=1)  # Drop Bob's row
print("\nDataFrame without Row Index 1:\n", df_without_row)

# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with 'Bonus' Column:\n", df)

Filtered Rows:
       Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

Selected Columns:
       Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

DataFrame without 'Salary' Column:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

DataFrame without Row Index 1:
       Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000

DataFrame with 'Bonus' Column:
       Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0

5.1.2 Handling Missing values - Code Example.

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame
iris_df = pd.DataFrame(
    data=np.c_[iris['data'], iris['target']],
    columns=iris['feature_names'] + ['target']
)

# Introduce missing values randomly
np.random.seed(42)
mask = np.random.rand(*iris_df.shape) < 0.1  # 10% missing values
iris_df[mask] = np.nan

# Print missing values count
print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Missing Values in Iris Dataset:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

5.1.3 Filling Missing values - Code Example.

In [ ]:
import pandas as pd

# Filling missing values with different methods
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean(numeric_only=True))
iris_df_median = iris_df.fillna(iris_df.median(numeric_only=True))
iris_df_zero = iris_df.fillna(0)

# Expand iris_df with filled columns
iris_df_expanded = pd.concat([
    iris_df,
    iris_df_ffill.add_suffix('_ffill'),
    iris_df_mean.add_suffix('_mean'),
    iris_df_median.add_suffix('_median'),
    iris_df_zero.add_suffix('_zero')
], axis=1)

# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

Dataset after Filling Missing Values:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal length (cm)_ffill  sepal width (cm)_ffill  \
0     0.0                      5.1                     3.5
1     0.0                      4.9                     3.5
2     0.0                      4.9                     3.2
3     0.0                      4.6                     3.1
4     0.0                      5.0                     3.6

   petal length (cm)_ffill  petal width (cm)_ffill  target_ffill  ...  \
0                      1.4                     0.2           0.0  ...
1                      1.4                     0.2           0.0  ...
2                      1.3                     0.2           0.0  ...
3                      1.5                     0.2           0.0  ...
4                      1.4                     0.2           0.0  ...

   sepal length (cm)_median  sepal width (cm)_median  \
0                       5.1                      3.5
1                       4.9                      3.0
2                       5.8                      3.2
3                       4.6                      3.1
4                       5.0                      3.6

   petal length (cm)_median  petal width (cm)_median  target_median  \
0                       1.4                      0.2            0.0
1                       1.4                      0.2            0.0
2                       1.3                      0.2            0.0
3                       1.5                      0.2            0.0
4                       1.4                      0.2            0.0

   sepal length (cm)_zero  sepal width (cm)_zero  petal length (cm)_zero  \
0                     5.1                    3.5                     1.4
1                     4.9                    0.0                     1.4
2                     0.0                    3.2                     1.3
3                     4.6                    3.1                     1.5
4                     5.0                    3.6                     1.4

   petal width (cm)_zero  target_zero
0                    0.2          0.0
1                    0.2          0.0
2                    0.2          0.0
3                    0.2          0.0
4                    0.2          0.0

[5 rows x 25 columns]

5.1 Cleaning Our Data - Some other common operations.

In [ ]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})

# Strip whitespace from the 'Name' column
df['Name'] = df['Name'].str.strip()

# Create a new DataFrame with string-type ages
df = pd.DataFrame({'Age': ['25', '30', '35']})

# Change 'Age' column data type to integer
df['Age'] = df['Age'].astype(int)
print(df)

   Age
0   25
1   30
2   35

5.1.1 Cleaning Our Data - Some other common operations.

In [ ]:
import pandas as pd

# Rename columns
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print("Renamed DataFrame:")
print(df)

# Remove duplicate rows
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
df = df.drop_duplicates()
print("\nDataFrame after Removing Duplicates:")
print(df)

Renamed DataFrame:
  Full Name  Years
0     Alice     25
1       Bob     30

DataFrame after Removing Duplicates:
    Name  Age
0  Alice   25
1    Bob   30

5.2.1 Data Transformations - Reshaping.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame:")
print(pivoted_df)

Pivoted DataFrame:
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

5.2.1 Data Transformations - Reshaping.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame:")
print(pivoted_df)

# Melt: Convert wide data back to long format
melted_df = pd.melt(
    pivoted_df.reset_index(),
    id_vars=['Date'],
    var_name='City',
    value_name='Temperature'
)
print("\nMelted DataFrame:")
print(melted_df)

Pivoted DataFrame:
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

Melted DataFrame:
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-02  Kathmandu           16
2  2024-01-01    Pokhara           18
3  2024-01-02    Pokhara           19

5.2.2 Data Transformations - Scaling.

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create DataFrame
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

# Display original and scaled DataFrames
print("Original Iris DataFrame:")
print(iris_df.head())

print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())  # Display scaled data

Original Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Min-Max Scaled Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

5.2.2 Data Transformations - Handling Categorical
Variable.

In [ ]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)

# Display the DataFrame
print(df)

  Category  Category_Ordinal
0      Low                 1
1   Medium                 2
2     High                 3
3      Low                 1
4     High                 3

5.2.2 Data Transformations - Handling Categorical
Variable.

In [ ]:
import pandas as pd

# Sample DataFrame with municipalities
df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})

# One-hot encoding using get_dummies
one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')

# Concatenate original and encoded DataFrames
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)

# Display the result
print(df_encoded)

      Municipality  Municipality_Bhaktapur  Municipality_Kathmandu  \
0        Kathmandu                   False                    True
1        Bhaktapur                    True                   False
2         Lalitpur                   False                   False
3  Madhyapur Thimi                   False                   False
4         Kirtipur                   False                   False

   Municipality_Kirtipur  Municipality_Lalitpur  Municipality_Madhyapur Thimi
0                  False                  False                         False
1                  False                  False                         False
2                  False                   True                         False
3                  False                  False                          True
4                   True                  False                         False

5.3 Merging and Joining DataFrames.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

Row-wise concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Column-wise concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

5.4.1 Merging - Code Example.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0